form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 60px;
  color: black;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 70px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

.buttonB {
  width: 100vw;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

html, body {
  height: 100%;
  overflow: hidden;
}
